body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #3c92de;
    font-family: "Trebuchet MS", cursive, sans-serif;
    text-align: center;
    margin: 40px;
    margin-bottom: 60px;
}

p {
    color: #000;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    width: 300px;
    border-radius: 50%;
    margin: 20px 0;
    border: 5px solid #3366cc;
}

.button {
    background-color: #2500a1;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #1a0073;
}

#footer {
    background-color: #3366cc;
    color: #fff;
    padding: 10px;
    width: 100%;
}
